/* stylelint-disable */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,
nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

body {
  list-style: none;
  font-family: sans-serif;
  font-size: 18px
}

li {
  margin: 16px;
  padding: 0;
}

a {
  color: black;
  text-decoration: none;
}

main {
  margin-top: 48px;
  text-align: center;
}

h1 {
  color: #201a20;
  font-weight: bold;
  font-size: 36.651px; /* 2.291rem */
  line-height: 48px;
  padding: 32px 0;
  margin: 0 20px;
}

#milk {
  margin-bottom: 32px;
}

#number {
  margin-bottom: 24px;
}

#more,
#less {
  padding: 0;
  margin: 0 4px;
  padding: 4px 16px;
  vertical-align: top;
  border-radius: 8px;

  text-align: center;
  font-size: 21px;

  color: #292b2c;
  background-color: #f7f7f7;
}

#milkInput {
  border: none;
  margin: 0;
  padding: 0;
  height: 24px;
  width: 50px;
  vertical-align: top;

  text-align: center;
  font-size: 21px;
}

#submit {
  background-color: #007FFC; /* #0275d8 */
  color: white;

  border-radius: 8px;
  border: none;
  box-sizing: border-box;
  padding: 4px 20px;
  margin: 4px;
  vertical-align: top;

  font-size: 21px;
  line-height: 32px;
}

#submit:hover {
  cursor: pointer;
}

#results {
  margin: 0 40px;
}

.rounded {
  border-radius: 8px;
}
